<div class="review_container">
<h4 class="thin">Review</h4>

<br>


<% if contractor_signed_in? %>

	<%# if current_contractor.id != @profile.id %>
	
		<div class="review_input">

			<div class="row">
				<div class="col-md-1 mt-2">
					<div class="user_avatar mt-3" style="background-image: url('<%= current_contractor.avatar(:original) %>')">
						
					</div>
					
				</div>
				<div class="col p-3 ml-3">
					<div class="inputField">
						<strong><%= current_contractor.fullname %></strong>
						<div class="input_border">
							<textarea class="form-control" id=""></textarea>
							<div class="buttons_option bg-light">
							<div class="row">
								<div class="col">
									<h5>
										<span class="badge badge-light">
											<span id="chars"></span>
										</span>
									</h5>
								</div>
								<div class="col-md-3">
									<button class="btn btn-primary">
										Post Review
									</button>
								</div>
							</div>
							</div>

							<script>

								var maxLength = 300;
								$('textarea').keyup(function() {
								  var length = $(this).val().length;
								  var length = maxLength-length;
								  $('#chars').text(length);
								});
								
							</script>

							
						</div>
						
					</div>
					
				</div>
			</div>
			


		</div>
	<%# end %>
<% end %>


</div>