<div class="row mainContent">
	<div class="col-md-2">
		<%= render 'navbars/cmpanyside_nav' %>
	</div>
	<div class="col">
		
		<div class="container">
		<h1>company_signed_incompany_signed_incompany_signed_incompany_signed_incompany_signed_incompany_signed_incompany_signed_incompany_signed_in</h1>
		<% if company_signed_in? %>
		  <li>
		  <%= link_to('Logout', destroy_company_session_path, method: :delete) %>
		  <%= current_company.name %>        
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_company_session_path)  %>  
		  </li>
		<% end %>
		</div>

	</div>
</div>

