<div class="form-card">
  <div class="card">
    <div class="card-body">

      <h5 class="card-title job_title">No Title</h4>
      <span class="badge badge-primary job_job_sector_show">Door Supervision</span>
      <p class="card-text thin">
        <% if company_signed_in? %>
          
        <strong><%= current_company.name %></strong> <br>
        <% end %>

        <strong>Payment Method</strong> <br>
        <span class="payment_method"> Cash </span> | 
        <span class="payment_date"> Same Day </span>
      </p>

      <hr>

      <div class="row">
        <div class="col text-align-center">
          <h4 class="thin hourly_rate_prev">£00.00</h4>
          <h6 class="thin">Hourly rate</h6>
        </div>
        <div class="col text-align-center">
          <h4 class="thin number_of_hours_prev">0hrs</h4>
          <h6 class="thin ">Number of hours</h6>
        </div>
        <div class="col text-align-center">
          <h4 class="thin job_cost_prev">£ 00.00</h4>
          <h6 class="thin">Cost</h6>
        </div>
      </div>


    </div>

  </div>

</div>