<div class="navbar-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white nav_white basic_nav">
      <h5 class="my-0 mr-md-auto font-weight-normal">

      	<a href="<%= root_path%>">
      		SEBKI
      	</a>

	      <div class="search_box">

	      	<div class="input-group">
			  	<input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search ...">
			  </div>
	      </div>

	  </h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Contractors</a>
        <a class="p-2 text-dark" href="<%= companydashboard_index_path %>">My Dashboard</a>
        <a class="btn btn-primary" href="#">Post a Job</a>
      </nav>

</div>



