<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <div class="brand">
            SEBKI Ltd
          </div>
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Find a Job</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Job Search</a></li>
            <li><a class="text-muted" href="#">Setup Profile</a></li>
            <li><a class="text-muted" href="#">Site Map</a></li>
            <li><a class="text-muted" href="#">Help</a></li>
          </ul>
        </div>



        <div class="col-6 col-md">
          <h5>Employers</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Post Jobs</a></li>
            <li><a class="text-muted" href="#">Search Contractors</a></li>
            <li><a class="text-muted" href="#">Advertise with Us</a></li>
            <li><a class="text-muted" href="#">Help</a></li>
          </ul>
        </div>




        <div class="col-6 col-md">
          <h5>About Us</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">About Sebki</a></li>
            <li><a class="text-muted" href="#">Work For Sebki</a></li>
            <li><a class="text-muted" href="#">Partner with Us</a></li>
          </ul>
        </div>


        <div class="col-6 col-md">
          <h5>Helpful Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Contact Us</a></li>
            <li><a class="text-muted" href="#">Terms of Use</a></li>
            <li><a class="text-muted" href="#">Privacy Centre</a></li>
            <li><a class="text-muted" href="#">Security Centre</a></li>
          </ul>
        </div>

      </div>

      <div class="made_with text-align-center">
        <hr>
        Made with <i class="fa fa-heart heart-red"></i> in London
      </div>
    </footer>