<div class="navbar-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white nav_white">

      <h5 class="my-0 mr-md-auto font-weight-normal">

      	<a href="<%= root_path%>" class="brand-logo">
      		Sebki
      	</a>

	      <div class="search_box">

	      	<div class="input-group">
  			  	<input type="search" class="form-control search_box_input" placeholder="What ...">
            <input type="search" class="form-control search_box_input" placeholder="Location ...">
            <div class="input-group-append">
              <button class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
  			  </div>


	      </div>

	  </h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn  sign_in" href="#">Sign In</a>
        <a class="btn sign_up" href="<%= register_path %>">Register</a>
        <a class="btn btn-primary" href="#">Post a Job</a>
      </nav>


</div>

