<div class="search_box">

  <div class="input-group">
    <input type="search" class="form-control search_box_input" placeholder="job title, keywords...">
    <input type="search" class="form-control search_box_input" placeholder="city or postcode ...">
    <div class="input-group-append">
      <button class="btn btn-primary">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>


</div>