<div class="search_box">

<%= form_for Search.new do |f| %>
	<div class="input-group">
  	
	    <%= f.text_field :keyword, class: 'form-control search_box_input', placeholder: "job title, keywords..." %>
	    <%= f.text_field :location, class: 'form-control search_box_input', placeholder: "city or postcode ..." %>
	    <div class="input-group-append">
	      <button class="btn btn-primary">
	        <i class="fa fa-search"></i>
	      </button>
	    </div>
	</div>

<% end %>


</div>