<div class="company_profile_info bg-light">

	<div class="container">

		<div class="company_profile">
			<div class="row">
				<div class="col-md-2">
					<div class="avatar">
					</div>
				</div>
				<div class="col">
					<div class="info">
						<div class="row">
							<div class="col">
								<h3>148</h3>
								<h5 class="thin">Jobs posted</h5>
							</div>
							<div class="col">
								<h3>57</h3>
								<h5 class="thin">Contractors</h5>
							</div>
							<div class="col">
								<h3>128</h3>
								<h5 class="thin">Active Jobs</h5>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>
	
</div>



<div class="container">

	<ul class="link_items">
		<li class="item">
			Jobs
		</li>

		<li class="item">
			Why Join Us
		</li>

		<li class="item">
			Q&A
		</li>


	</ul>


	<div class="jobs_list_company">
		<ul class="jobs_item">

			<li class="items">
				<a href="#job">
					<h4 class="job_title">
						Security- Door Supervisor 
						<label class="job_status active_job">Active</label>
					</h4>
					<span class="job_company thin">Premium Security Services</span> | 
					<span class="job_location thin">London</span> <br>
					<span class="job_date thin">1 Day ago</span> | 
					<span class="job_hourly_rate thin"> £9.50 - £15.00 an hour </span> | 
					<span class="payment_method thin">Cash </span>  |
					<span class="payment_date thin">Same Day</span>   
					<!-- <hr> -->
					<p class="job_sumary">
						Must hold a valid Front Line Door Supervisors SIA License*. Premium Security Services is a well respected and recognized brand. London, Greater London....
					</p>
				</a>
			</li>




			<li class="items">
				<a href="#job">
					<h4 class="job_title">
						Security- Door Supervisor 
						<label class="job_status active_job">Active</label>
					</h4>
					<span class="job_company thin">Premium Security Services</span> | 
					<span class="job_location thin">London</span> <br>
					<span class="job_date thin">2 Days ago</span> | 
					<span class="job_hourly_rate thin"> £9.50 - £15.00 an hour </span> | 
					<span class="payment_method thin">Cash </span>  |
					<span class="payment_date thin">Same Day</span>   
					<!-- <hr> -->
					<p class="job_sumary">
						Must hold a valid Front Line Door Supervisors SIA License*. Premium Security Services is a well respected and recognized brand. London, Greater London....
					</p>
				</a>
			</li>





			<li class="items">
				<a href="#job">
					<h4 class="job_title">
						Security- Door Supervisor 
						<label class="job_status active_job">Active</label>
					</h4>
					<span class="job_company thin">Premium Security Services</span> | 
					<span class="job_location thin">London</span> <br>
					<span class="job_date thin">2 Days ago</span> | 
					<span class="job_hourly_rate thin"> £9.50 - £15.00 an hour </span> | 
					<span class="payment_method thin">Cash </span>  |
					<span class="payment_date thin">Same Day</span>   
					<!-- <hr> -->
					<p class="job_sumary">
						Must hold a valid Front Line Door Supervisors SIA License*. Premium Security Services is a well respected and recognized brand. London, Greater London....
					</p>
				</a>
			</li>




		</ul>
	</div>


	<br><br>


</div>