.company_profile_info {
	height: 250px;
	width: 100%;
	margin-top: -18px;


	.info {
		padding-top: 30px;
		// background: green;
		text-align: center;
		margin-top: 8px;
		padding-bottom: 30px;
	}
}


.company_profile {
	padding-top: 50px;
	// background: red;
}

.avatar {
	width: 150px;
	height: 150px;
	background: #007aff;
    border-radius: 3px
}

.thin {
	font-weight: 300;
}


.link_items {
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #f1f1f1f1;

	.item{
		list-style: none;
		display: inline-block;
		margin: 14px;
		padding: 8px;
		cursor: pointer;

		&:hover {
			border-radius: 3px;
			background-color: #f1f1f1f1;
		}
	}
}


.jobs_list_company {
	width: 700px;
	// background: red;
	margin: 0 auto;
	// border: 1px solid red;
	padding: 12px;

	.jobs_item {
		padding: 0;
		.items {
			list-style: none;
			padding: 22px;
			padding-bottom: 10px;
			cursor: pointer;

			&:hover {
				background: #f8f9fa;
			}

			a {
				text-decoration: none;
				color: inherit;
			}

			.job_status {
				font-weight: 300;
			    font-size: 9pt;
				background: #f8f9fa;
			    padding: 3px;
				border-radius: 3px;
			}

			.active_job {
				background: #1dd1a1;
				color: white;
			}

			h4 {
				font-size: 18px;
			}

			p {
				font-size: 11pt;
			}

			.job_sumary {
				font-weight: 300;
				padding-top: 10px;
			}
		}
	}
}