.hidden {
	display: none;
}

.hidde-input {
    background: black;
    padding: 26px;
    position: absolute;
    top: -1110px;
}


.sign_box {
    width: 60%;
    margin: 0 auto;
    padding: 43px;
}


.wrapper {
	margin-top: 50px;
}